@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;700&family=Outfit:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  
  html,body {
    @apply min-h-screen
  }
  @font-face {
        font-family: "azonix";
        src: url('/fonts/Azonix.otf');
        font-display: swap;
  }

 
}

@layer components {

  .selected{ 
    display: inline-block;
    padding-bottom:4px;
    background-image: linear-gradient(#6C63FF, #6C63FF); /*ff0032*/
    background-position: 0 78%; /*OR bottom left */
    background-size: 0% 3px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s; /*change after the size immediately*/
  }
  .selected-dis{
    background-image: linear-gradient(#c4c4c4, #c4c4c4);
  }

.selected:hover {
    color : #6C63FF;
    /*text-decoration-line: underline;
    text-underline-offset: 8px; 
    text-decoration-thickness: 15%;   */    
    background-position: 100% 78%; /*OR bottom right*/
    background-size: 100% 3px;
  }  
.selected-dis:hover {
    color : #c4c4c4;
  }

  .disableSpan {
    @apply before:content-[attr(data-tip)] before:z-30 before:absolute before:px-3 before:py-2 before:left-1/2 before:-top-3 before:w-max before:max-w-xs before:-translate-x-1/2 before:-translate-y-full before:bg-violet before:text-white before:rounded-md before:opacity-0 before:transition-all after:absolute after:left-1/2 after:-top-3 after:after:h-0 after:w-0 after:-translate-x-1/2 after:border-8 after:border-t-violet after:border-l-transparent after:border-b-transparent after:border-r-transparent after:opacity-0 after:transition-all hover:before:opacity-100 hover:after:opacity-100 ;
  }
}

@layer utilities {

  .clip-button {
    clip-path: polygon(0% 0px,0px 0%,calc(100% - 8px) 0%,100% 8px,100% 100%,100% 100%,8px 100%,0 calc(100% - 8px));

  }
  .popIn{
    transition: opacity 328ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 218ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

  .butEffect {
    width: 112px;
    height: 40px;
    border: none;
    border-radius: 4px;
    transition: ease-out 0.3s ;
    outline: none;
    border: 3px solid #42FBF2;
    position: relative;
    z-index: 1;
  }
  .butEffect:hover {
    border: 0.5px solid #42FBF2;
  }
  .butEffect:before{
    transition: 0.5s all ease ;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    left: 50%;
    opacity: 0;
    content: "";
    background-color: #42FBF2;
  }
  .butEffect:hover:before{
    opacity: 1;
    right: 0;
    left: 0;
    transition: 0.5s all ease ;
    z-index: -1;
  }

  .step-item{
    @apply relative flex flex-col justify-center items-start max-w-sm mx-auto ;
}
.step-item:not(:last-child):after {
    @apply content-[""] bg-slate-200 absolute h-[calc(100%-2.45rem)] w-0.5 top-12 left-[38px] mt-2;
}

.step{
    @apply w-7 h-7 flex items-center justify-center rounded-full bg-slate-700 relative z-10 font-semibold mr-4 transition-colors;
}
.active .step{
    @apply bg-violet ;
}
.complete .step{
    @apply bg-green-600 ;
}

.step-parag{
    @apply pl-14  py-4;
}

.complete:not(:last-child):after {
    @apply bg-green-600 transition-colors;
}

/* the top sale card styles --inspired by pokemon holo effect*/
.card{
  position: relative;
  overflow: hidden;
  /*margin: 20px;*/
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  
  border-radius: 5% / 3.5%;
  box-shadow: 
    -5px -5px 5px -5px rgb(255,207,64), 
    5px 5px 5px -5px #6C63FF, 
    -7px -7px 10px -5px transparent, 
    7px 7px 10px -5px transparent, 
    0 0 5px 0px rgba(255,255,255,0),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
  
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  
  background-color: #040712;
  /* background-image: "https://ipfs-gw.stargaze-apis.com/ipfs/bafybeibs4bln5recdqpaqo5e4nt55kll35asn2d3aa2xskxq4ntqxfjjjm/images/2106.png"; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
  

}
.card:hover{
  box-shadow: 
    -20px -20px 30px -25px rgb(255,207,64), 
    20px 20px 30px -25px #6C63FF, 
    -7px -7px 10px -5px rgb(255,207,64), 
    7px 7px 10px -5px #6C63FF, 
    0 0 13px 4px rgba(255,255,255,0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}


.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: .5;
  mix-blend-mode: color-dodge;
  transition: all .33s ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    rgb(255,207,64) 25%,
    transparent 47%,
    transparent 53%,
    #6C63FF 75%,
    transparent 100%
  );
  opacity: .5;
  filter: brightness(.5) contrast(1);
  z-index: 1;
}

.card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), 
    url(https://ipfs-gw.stargaze-apis.com/ipfs/bafybeibs4bln5recdqpaqo5e4nt55kll35asn2d3aa2xskxq4ntqxfjjjm/images/2106.png), 
    linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all .33s ease;
  mix-blend-mode: color-dodge;
  opacity: .75;
}

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);;
  opacity: 1;
}

.card.active,
.card:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;
}



.card.active:before,
.card:hover:before {
  animation: none;
  background-image: linear-gradient(
    110deg,
    transparent 25%,
    rgb(255,207,64) 48%,
    #6C63FF 52%,
    transparent 75%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: .88;
  filter: brightness(.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  animation: none;
  transition: none;
}






@keyframes holoSparkle {
  0%, 100% {
    opacity: .75; background-position: 50% 50%; filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1; background-position: 40% 40%; filter: brightness(.8) contrast(1.2);
  }
  13%, 16% {
    opacity: .5; background-position: 50% 50%; filter: brightness(1.2) contrast(.8);
  }
  35%, 38% {
    opacity: 1; background-position: 60% 60%; filter: brightness(1) contrast(1);
  }
  55% {
    opacity: .33; background-position: 45% 45%; filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: .88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(.75) contrast(1.25);
  }
}

@keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
}


/* infinite scroll animation */


.tag-list {
  width: 30rem;
  max-width: 90vw;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem 0;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}

.loop-slider {
  .inner {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);
  }
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0;
  font-size: 0.9rem;
  background-color: #334155;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 1rem; /* Must used margin-right instead of gap for the loop to be smooth */
  box-shadow: 
    0 0.1rem 0.2rem rgb(0 0 0 / 20%),
    0 0.1rem 0.5rem rgb(0 0 0 / 30%),
    0 0.2rem 1.5rem rgb(0 0 0 / 40%);
  
  span {
    font-size: 1.2rem;
    color: #64748b;
  }
}

.fade {
  pointer-events: none;
  background: linear-gradient(90deg, #000000, transparent 30%, transparent 70%, #000000);
  
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}