@keyframes animStar
  from	
    transform: translateY(0px)
  to		
    transform: translateY(-2000px)
  
@function multiple-box-shadow ($n, $color) 
  $value: '#{random(3000)}px #{random(3000)}px #{$color}'
  @for $i from 2 through $n
    $value: '#{$value} , #{random(3000)}px #{random(3000)}px #{$color}'

  @return unquote($value)

$shadows-small: multiple-box-shadow(700, #fff)
$shadows-medium: multiple-box-shadow(300, #c39431)
$shadows-large: multiple-box-shadow(100, #fff)

#stars
  width: 1px
  height: 1px
  background: transparent
  box-shadow: $shadows-small
  animation: animStar 120s linear infinite
  animation-direction: normal, reverse
  position: absolute
  left: 0px
  top: 0px
    
  &:after
    content: " "
    position: absolute
    width: 1px
    height: 1px
    background: transparent
    box-shadow: $shadows-small
    
#stars2
  width: 2px
  height: 2px
  background: transparent
  box-shadow: $shadows-medium
  animation: animStar 240s linear infinite
  position: absolute
  left: 0px
  top: 0px
    
  &:after
    content: " "
    position: absolute
    width: 2px
    height: 2px
    background: transparent
    box-shadow: $shadows-medium
    
#stars3
  width: 3px
  height: 3px
  background: transparent
  box-shadow: $shadows-large
  animation: animStar 360s linear infinite
  position: absolute
  left: 0px
  top: 0px
    
  &:after
    content: " "
    position: absolute
    width: 3px
    height: 3px
    background: transparent
    box-shadow: $shadows-large
